<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YKProgressView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4438EA851EAF3A4A0030CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4438EA9E1EAF3A4A0030CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4438EAA91EAF3A4A0030CE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
